<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/lib/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ImfQg9H3WBclMiD3g0imG4OWoKfiGZj3"></script>
    <title>百度地图</title>
    <style type="text/css">
        #allmap{
            width: 80%;
            height: 80%;
            border: 1px solid #000;
            font-family:"微软雅黑";}
        body, html {
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 0;
            font-family: "微软雅黑";
        }
    </style>
</head>
<body>

<div class="div-relative" id="allmap"></div>
    <!-- 这里以后是地图 -->
</div>


<script src="../static/js/map.js"></script>
</body>
</html>