<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="map-wrap" style="height: 800px;"></div>

<script src="../static/map/echarts.js"></script>
<script src="../static/map/china.js"></script>
<script>
    var mapChart = echarts.init(document.getElementById('map-wrap'));
    var myData = [

        {name: '海门', value: [121.15, 31.89, 90]},
        {name: '鄂尔多斯', value: [109.781327, 39.608266, 120]},
        {name: '招远', value: [120.38, 37.35, 142]},
        {name: '舟山', value: [122.207216, 29.985295, 123]},
    ]

    var option = {
        geo: {
            map: 'china',
            label: {
                normal: {
                    show: false,//显示省份标签
                    textStyle: {color: "#c71585"}//省份标签字体颜色
                },
                emphasis: {//对应的鼠标悬浮效果
                    show: true,
                    textStyle: {color: "#800080"}
                }
            },

            itemStyle: {					// 定义样式
                normal: {					// 普通状态下的样式
                    areaColor: '#323c48',
                    borderColor: '#111'
                },
                emphasis: {					// 高亮状态下的样式
                    areaColor: '#2a333d'
                }
            }
        },
        backgroundColor: '#404a59',  		// 图表背景色
//        series: [
//            {
//                name: '销量',
//                type: 'scatter',
//                coordinateSystem: 'geo',
//
//                data: myData // series数据内容
//            }
//        ]
    }
    mapChart.setOption(option);

</script>

</body>
</html>