<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sea.dao.RunningRecordDao">


    <select id="selectByTime" resultType="com.sea.entity.RunningRecordEntity">
        SELECT * FROM runningrecord WHERE record_time BETWEEN #{low} AND #{high}
    </select>
</mapper>
