<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sea.dao.RunningRecordDao">


    <select id="selectByTime" resultType="com.sea.entity.RunningRecordEntity">
        SELECT * FROM ${name} WHERE record_time BETWEEN #{low} AND #{high}
    </select>

    <!--<insert id="insertRunningRecordPerMinute">-->
        <!--INSERT INTO ${name} (record_time, one_speed, one_power, two_speed, two_power, desalination_power, desalination_yield, pcs)-->
        <!--VALUES (#{r.recordTime}, #{r.oneSpeed}, #{r.onePower}, #{r.twoSpeed}, #{r.twoPower}, #{r.desalinationPower}, #{r.desalinationYield}, #{r.pcs})-->
    <!--</insert>-->

    <insert id="insertRunningRecordPerMinute">
        INSERT INTO ${name} (one_speed, one_power, two_speed, two_power, desalination_power, desalination_yield, pcs)
        VALUES (#{r.oneSpeed}, #{r.onePower}, #{r.twoSpeed}, #{r.twoPower}, #{r.desalinationPower}, #{r.desalinationYield}, #{r.pcs})
    </insert>


</mapper>
